page-login {

  .keyboard-is-open {
    display: none;
  }

  .vertical-center {
    margin-top: 20vh;
  }

  .visibility-icon {
    margin-bottom: -2rem !important;
  }

  // ion-list {
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
  // }
  
  p {
    font-size: 2rem;
  }
}
