page-login {	
	p {
		font-size: 2rem;
	}
	
	ion-list {
		align-items: center;
		justify-content: center;
		text-align: center;
	}
  .open-keyboard {
    ion-slides {
      height: auto;
    }
  }
  .closed-keyboard {
    ion-slides {
      height: 75%;
    }
  }
}
