<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Entrar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="intro-background" text-center padding>
  <!-- <p>Escolha uma opção</p>

  <button ion-button class="main-button" icon-start large round color="light" (click)="doLoginWithGoogle();"><span
          class="icon-google-icon" padding-right><span class="path1"></span><span class="path2"></span><span class="path3"></span><span
            class="path4"></span></span>Entrar com o Google</button>

  <p>ou</p> -->

  <!-- <form (ngSubmit)="doLoginWithEmail()" #registerForm="ngForm" [class]="keyboard.isVisible ? 'open-keyboard' : 'closed-keyboard'"> -->
  <!-- <ion-list style="height: 100%">
    <form (ngSubmit)="doLoginWithEmail()" #registerForm="ngForm">
      <div style="margin-top: 40%">
        <p>Informe seu dados de Login.</p>
        <ion-item class="main-input">
          <ion-label>E-mail</ion-label>
          <ion-input type="email" placeholder="Digite seu e-mail" name="email" [(ngModel)]="registerCredentials.email"
                     required></ion-input>
        </ion-item>
        <ion-item class="main-input">
          <ion-label>Senha</ion-label>
          <ion-input type="password" placeholder="Digite sua senha" name="password" [(ngModel)]="registerCredentials.password"
                     required></ion-input>
        </ion-item>
        <button ion-button clear color="light" small>Esqueceu sua senha?</button>
      </div>
      <div class="my-footer" *ngIf="!keyboard.isVisible;">
        <ion-row>
          <button ion-button class="main-button" large round color="secondary" type="submit" [disabled]="!registerForm.form.valid"
                  strong>Entrar</button>
        </ion-row>
        <ion-row>
          <button ion-button clear color="light" (click)="createAccount()">Criar uma nova conta?</button>

        </ion-row>
      </div>
    </form>
  </ion-list> -->

  <!-- <ion-icon class="empty-state-icon" color="secondary" name="custom-user-ok" *ngIf="!isKeyboardVisible"></ion-icon> -->
  <!-- <img *ngIf="!keyboard.isVisible;" src="../assets/imgs/logo.png" style="max-height: 23rem;" /> -->

  <form [formGroup]="loginForm">

    <div class="custom-form vertical-center">
      <p>Informe os dados cadastrados anteriormente.</p>

      <ion-item>
        <ion-label floating>Informe seu email</ion-label>
        <ion-input type="email" [formControl]="loginForm.controls['email']" name="email"></ion-input>
      </ion-item>
      <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class="validator-error">
        Por favor, informe um email válido.
      </div>

      <ion-item>
        <ion-label floating>Informe sua senha</ion-label>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" [formControl]="loginForm.controls['password']" name="password"></ion-input>
        <button class="visibility-icon" clear (click)="togglePasswordFieldType()" icon-only ion-button item-right type="button">
          <ion-icon color="light" [name]="isTextFieldType ? 'custom-visibility-off' : 'custom-visibility'"></ion-icon>
        </button>
      </ion-item>
      <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="validator-error">
        Por favor, informe uma senha.
      </div>

      <button ion-button clear color="light" type="button" small>Esqueceu sua senha?</button>

      <div id="footer" class="my-footer">
        <ion-row>
          <button ion-button class="main-button btn-secondary" large round color="secondary" [disabled]="!loginForm.valid"
            (click)="doLoginWithEmail()" type="submit" strong>Entrar</button>
        </ion-row>
        <ion-row>
          <button ion-button clear color="light" type="button" (click)="createAccount()">Criar uma nova conta?</button>
        </ion-row>
      </div>
    </div>
  </form>

</ion-content>