.list-options {
	ion-label {
		white-space: pre-line;
	}
	.list-md, .list-ios, .list-header-md, .list-header-ios {
		margin: 0;
	}
}

.notification-list.list-md, .notification-list.list-ios, .list-header-md, .list-header-ios {
	margin: 0;
}

.popover-content {
	width: 30rem !important;
}

.text-color {
	color: color($colors, primary) !important;
}

button {
	ion-badge {
		border-radius: 1rem !important;
		position: absolute;
		top: -.5rem;
		right: -.1rem;
		opacity: 0.8;
		z-index: 10;

		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}
