page-real-state-form {

  .item-md.item-input .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important; 
  }

  .bar-button-default-md:hover {
    background: white !important;
    color: grey !important;
  }
  
  ion-item ion-label {
    padding-left: 1.2rem;
  }
  
  .input {
    border: 0.05rem solid color($colors, primary);
    border-radius: 2rem;
    padding: 0 .8rem;
  }

}
