<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons left>
      <button navPop ion-button icon-only style="margin: 0 6px; min-width: 36px;">
        <ion-icon color="light" name="close"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>Detalhes do Inquilino</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-owner-page">
  <ion-list>
    <div margin>
      <h2>{{ tenant.name }}</h2>
      <p>{{( contract ? contract : "Sem contrato" )}}</p>
    </div>

    <div margin>
      <ion-label color="secondary" no-margin>CPF</ion-label>
      <!-- Format example: <p>***.***.*00-00</p> -->
      <p>{{tenant.document}}</p>
    </div>

    <div margin>
      <ion-label color="secondary" no-margin>Telefone</ion-label>
      <!-- Format example: <p>(00) 9 8765-4321</p> -->
      <p>{{tenant.phone}}</p>
    </div>

    <div margin>
      <ion-label color="secondary" no-margin>Email</ion-label>
      <p>{{tenant.email}}</p>
    </div>

    <div margin-top>
      <ion-row *ngIf="!isTenantAssociated">
        <button class="main-button btn-secondary" ion-button large round color="secondary" strong (click)="associateTenant()">Vincular
        </button>
      </ion-row>
      <ion-row *ngIf="isEvaluationTime">
        <button class="main-button btn-secondary" ion-button large round color="secondary" strong (click)="evaluateTenant()">Avaliar
        </button>
      </ion-row>
      <ion-row>
        <button class="main-button btn-danger" ion-button large round color="danger" strong (click)="removeTenant()" icon-start><ion-icon name="custom-delete"></ion-icon>Remover
        </button>
      </ion-row>
    </div>
  </ion-list>
</ion-content>