<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons left>
      <button navPop ion-button icon-only style="margin: 0 6px; min-width: 36px;">
        <ion-icon color="light" name="close"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>Detalhes do Inquilino</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-owner-page">
  <ion-list>
    <div margin>
      <!-- <h2>{{ tenant.name }}</h2> -->
      <h2>{{tenant.name}}</h2>
      <ion-row justify-content-start>
        <ion-icon class="evaluation-star" color="secondary" name="custom-star-full"></ion-icon>
        <p>{{( evaluationNumber > 1 ? overallScore+" ("+evaluationNumber+" avaliações)" : "Sem avaliações suficientes." )}}</p>
      </ion-row>
      <p class="content-p">{{( contract ? contract : "Atualmente sem contrato." )}}</p>
    </div>

    <div margin>
      <ion-label color="secondary" no-margin>CPF</ion-label>
      <!-- Format example: ***.***.*00-00 -->
      <p class="content-p">{{tenant.document}}</p>
    </div>

    <div margin>
      <ion-label color="secondary" no-margin>Telefone</ion-label>
      <!-- Format example: (00) 9 8765-4321 -->
      <p class="content-p">{{tenant.phone}}</p>
    </div>

    <div margin>
      <ion-label color="secondary" no-margin>Email</ion-label>
      <p class="content-p">{{tenant.email}}</p>
    </div>

    <div margin *ngIf="chips">
      <ion-label color="secondary">Destaques</ion-label>
      <ion-chip color="primary" *ngFor="let chip of chips">
        <ion-label>{{chip}}</ion-label>
      </ion-chip>
    </div>

    <div margin-top>
      <!-- <ion-row *ngIf="!isTenantAssociated">
        <button class="main-button btn-secondary" ion-button large round color="secondary" strong (click)="associateTenant()"
          icon-start>
          <ion-icon name="custom-group-add"></ion-icon>Vincular
        </button>
      </ion-row> -->
      <ion-row *ngIf="!isEvaluationTime">
        <button class="main-button btn-secondary" ion-button large round color="secondary" strong (click)="evaluateTenant()"
          icon-start>
          <ion-icon name="custom-done"></ion-icon>Avaliar
        </button>
      </ion-row>
      <ion-row *ngIf="isTenantAssociated">
        <button class="main-button btn-danger" ion-button large round color="danger" strong (click)="removeTenant()"
          icon-start>
          <ion-icon name="custom-delete"></ion-icon>Remover
        </button>
      </ion-row>
    </div>
  </ion-list>
</ion-content>