<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button navPop ion-button icon-only style="margin: 0 6px; min-width: 36px;">
        <ion-icon color="light" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{(editing ? "Editar" : "Adicionar")}} Contrato</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-owner-page" padding>

  <form [formGroup]="contractForm">
    <ion-list class="custom-form" text-center>
      <ion-label color="light" text-left>Período</ion-label>

      <ion-item>
        <ion-label floating>Selecione a data de início</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Confirmar" [formControl]="contractForm.controls['beginDate']"
          name="beginDate" displayFormat="DD/MMM/YYYY" [max]="setMaxDate()" [monthShortNames]="monthShortNames"
          (ionChange)="calculateDuration()"></ion-datetime>
      </ion-item>
      <div *ngIf="!contractForm.controls.beginDate.valid && contractForm.controls.beginDate.dirty" class="validator-error">
        Por favor, selecione a data de início.
      </div>

      <ion-item>
        <ion-label floating>Selecione a data de encerramento</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MMM/YYYY" [formControl]="contractForm.controls['endDate']"
          name="endDate" [min]="setMinDate()" [max]="setMaxDate()" [monthShortNames]="monthShortNames" (ionChange)="calculateDuration()"></ion-datetime>
      </ion-item>
      <div *ngIf="!contractForm.controls.endDate.valid && contractForm.controls.endDate.dirty" class="validator-error">
        Por favor, selecione a data de encerramento.
      </div>

      <ion-item>
        <ion-label floating>Duração (Calculada automaticamente)</ion-label>
        <ion-input [formControl]="contractForm.controls['duration']" name="duration" [(ngModel)]="contract.duration"
          readonly></ion-input>
      </ion-item>

      <hr>

      <ion-label color="light" text-left>Vínculos</ion-label>

      <ion-item>
        <ion-label floating>Selecione um imóvel</ion-label>
        <ion-select [formControl]="contractForm.controls['realEstateId']" name="realEstateId" cancelText="Cancelar" okText="Confirmar">
          <ion-option *ngFor="let realEstate of realEstates | async" [value]="realEstate.id" [selected]="realEstateObj.id">{{ realEstate.name }}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!contractForm.controls.realEstateId.valid && contractForm.controls.realEstateId.dirty" class="validator-error">
        Por favor, selecione um imóvel.
      </div>

      <ion-item>
        <ion-label floating>Selecione um inquilino (Opcional)</ion-label>
        <ion-select [formControl]="contractForm.controls['tenantId']" name="tenantId" cancelText="Cancelar" okText="Confirmar">
          <!-- <ion-option *ngFor="let tenant of tenants | async" [value]="tenant.id">{{ tenant.name }}</ion-option> -->
        </ion-select>
      </ion-item>

      <button class="main-button btn-secondary" ion-button large round color="secondary" [disabled]="!contractForm.valid"
        (click)="addContract()" type="submit" strong margin-top icon-start>
        <ion-icon name="custom-save"></ion-icon>Salvar
      </button>
    </ion-list>
  </form>

</ion-content>