page-real-estate {
  .item {
    background: transparent !important;
  }
  
  .list-md .item-block .item-inner {
    border-bottom: 1px solid color($colors, secondary);
  }

  .image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 8rem;
  }

  .scroll-content {
    overflow-y: auto !important;
  }

  h2 {    
		font-size: 1.8rem !important;
  }
}
