<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contratos</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content class="bg-owner-page">
  <div *ngIf="!contracts" padding text-center style="margin-top: 20vh;">
    <ion-icon name="custom-file-empty" color="light" margin style="font-size: 15rem;"></ion-icon>
    <h5 no-margin>Você ainda não adicionou um contrato.</h5>
    <h6 no-margin>Toque no <ion-icon name="add"></ion-icon> no canto inferior direito para criar um novo.</h6>
  </div>

  <div *ngIf="contracts" col-md-6 offset-md-3>
    <ion-card *ngFor="let contract of contracts | async" color="primary700">
      <ion-card-content>
        <h2>{{ (contract.realEstate ? contract.realEstate.name : "Sem imóvel associado.") }}</h2>
        <!-- <h3 padding-top>{{ (contract.tenant ? contract.tenant.name : "Sem inquilino associado.") }}</h3> -->
        <p>{{ (contract.beginDate ? "Início em "+contract.beginDate : "Sem data de início.") }}</p>
        <p>{{ (contract.endDate ? "Válido até "+contract.endDate : "Sem data de encerramento.") }}</p>
        <p>{{ (contract.duration ? "Duração de "+contract.duration : "Sem duração definida.") }}</p>
      </ion-card-content>
      <button ion-button clear color="secondary" (click)="viewDetails(contract)">
        VER DETALHES
      </button>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="newContract()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>