<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Atividades</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-owner-page">
  <div class="empty-state-active" *ngIf="!items" padding text-center>
    <ion-icon class="empty-state-icon" color="light" name="custom-timeline"></ion-icon>
    <h5 no-margin>Você ainda não possui atividades.</h5>
    <p no-margin>Assim que começar a usar as funcionalidades do app elas aparecerão aqui.</p>
  </div>

  <div *ngIf="items" padding>
    <timeline endIcon="download">
      <timeline-item *ngFor="let item of (items | async)?.HistoryArray">
        <timeline-time [datetime]="item.datetime"></timeline-time>
        <ion-icon color="light" [name]="item.type"></ion-icon>
        <ion-card color="primary700">
          <ion-card-header>
            {{item.title}}
          </ion-card-header>
          <ion-card-content>
            {{item.description}} 
          </ion-card-content>
        </ion-card>
      </timeline-item>
    </timeline>
  </div>
</ion-content>