page-settings {

	.account-icon {
		height: 12rem;
		width: 12rem;
	}

	.hr-class {
    border-bottom: 0.1rem solid color($colors, primary);
	}

	.light-text {
		color: color($colors, light) !important;
	}

	@media screen and (min-height: '640px'){
		.footer {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}

	.primary-text {
		color: color($colors, primary) !important;
	}

	ion-row {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	ion-select {
		max-width: 60%;
	}

}
