<ion-header>  
  <nav-options-component></nav-options-component>
</ion-header>

<ion-content [class]="backgroundClass" padding>
  <form [formGroup]="settingsForm" *ngIf="settingsReady">
    <ion-list [class]="formClass">
      <div text-center>
        <ion-icon class="account-icon" [color]="iconColor" name="custom-account-circle" *ngIf="!user.photoURL"></ion-icon>
        <img class="logo" *ngIf="user.photoURL" padding [src]="user.photoURL ? user.photoURL : '../../assets/imgs/user-y500.png'" />
        <h5 [class]="textColor" no-padding>{{(user.displayName?user.displayName: userData.name)}}</h5>
        <h6 [class]="textColor" no-padding>{{(user.email?user.email: userData.email)}}</h6>
      </div>
      <hr [class]="hrClass">
      <ion-item>
        <ion-label>Ativar notificações</ion-label>
        <ion-toggle formControlName="notifications"></ion-toggle>
      </ion-item>
      <!-- 
      <ion-item>
        <ion-label>Opção 2</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label>Idioma</ion-label>
        <ion-select formControlName="language" cancelText="Cancelar" okText="Confirmar">
          <ion-option value="pt" checked="true">Português (Brasil)</ion-option>
        </ion-select>
      </ion-item>


      <div class="footer" text-center padding-top>
        <ion-row>
          <button class="main-button btn-light" ion-button large round color="light" strong (click)="editUser()"
            icon-start>
            <ion-icon name="custom-edit"></ion-icon>Editar Perfil
          </button>
        </ion-row>
        <ion-row>
          <button class="main-button btn-danger" ion-button large round color="danger" strong (click)="signOut()"
            icon-start>
            <ion-icon name="custom-exit"></ion-icon>Sair
          </button>
        </ion-row>
        <p [class]="textColor">{{version}}</p>
      </div>
    </ion-list>
  </form>
</ion-content>