<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-owner-page" padding-top>
  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list>
      <div text-center>        
        <ion-icon class="empty-state-icon" color="secondary" name="custom-account-circle" *ngIf="!user.photoURL"></ion-icon>
        <img class="logo" *ngIf="user.photoURL" padding [src]="user.photoURL ? user.photoURL : '../../assets/imgs/user-y500.png'" />
        <h5 no-padding>{{user.displayName}}</h5>
        <h6 no-padding>{{user.email}}</h6>
      </div>
      <br>
      <ion-item>
        <ion-label>Opção 1</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Opção 2</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Opção 3</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <div text-center padding-top>
        <button class="main-button btn-danger" ion-button large round color="danger" strong (click)="signOut()">Sair</button>
        <p>Versão Dono de Imóvel</p>
      </div>
    </ion-list>
  </form>
</ion-content>