page-settings {

	.account-icon {
		height: 12rem;
		width: 12rem;
	}

	.hr-class {
    border-bottom: 0.1rem solid color($colors, primary);
	}

	.light-text {
		color: color($colors, light) !important;
	}

	.primary-text {
		color: color($colors, primary) !important;
	}

}
