// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


$font-family-base: 'Rubik', sans-serif;
$font-family-ios-base: 'Rubik', sans-serif;
$font-family-md-base: 'Rubik', sans-serif;
$font-family-wp-base: 'Rubik', sans-serif;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary50: #e3e4e8,
  primary100: #b9bcc5,
  primary200: #8A909E,
  primary300: #5B6477,
  primary400: #37425a,
  primary:    #14213d,
  primary600: #121d37,
  primary700: #0e182f,
  primary800: #0b1427,
  primary900: #060b1a,
  secondary:  #fdca40,
  alternative:#44355b,
  granted:    #1a936f,
  danger:     #ff6663,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$button-md-text-transform: none;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionicons";

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 1.7em;
  }
}

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@font-face {
  font-family: Rubik;
  src: url("../assets/fonts/Rubik-Regular.ttf");
}