<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons left>
      <button navPop ion-button icon-only style="margin: 0 6px; min-width: 36px;">
        <ion-icon color="light" name="close"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>{{(userType === "owner" ? "Detalhes do" : "Meu")}} Contrato</ion-title>
  </ion-navbar>
</ion-header>


<ion-content [class]="backgroundClass">
  <div class="empty-state-active" *ngIf="!contractExists" padding text-center>
    <ion-icon class="empty-state-icon" [color]="iconColor" name="custom-contract" margin></ion-icon>
    <h5 [class]="textClass" no-margin>Você ainda não possui um contrato.</h5>
    <p [class]="textClass" no-margin>Assim que você for vinculado a um contrato ele aparecerá aqui.</p>
  </div>

  <ion-list *ngIf="contractExists">
    <div margin>
      <h2 [class]="textClass">{{ (currentRealEstate ? currentRealEstate.name : 'Nome do Imóvel') }}</h2>
      <p [class]="textClass">{{ (currentRealEstate ? getRealEstateType() : 'Tipo do Imóvel') }}</p>
    </div>

    <div margin *ngIf="userType === 'owner'">
      <ion-label [color]="itemColor" no-margin>Inquilino</ion-label>
      <p [class]="textClass">{{ (currentTenant ? currentTenant.name : 'Sem inquilino associado.') }}</p>
    </div>

    <div margin *ngIf="userType === 'tenant'">
      <ion-label [color]="itemColor" no-margin>Proprietário</ion-label>
      <p [class]="textClass">{{ (currentOwner ? currentOwner.name : 'Nome do dono do imóvel.') }}</p>
    </div>

    <div margin>
      <ion-label [color]="itemColor" no-margin>Data de Início</ion-label>
      <p [class]="textClass">{{ (contract.beginDate ? "Início em "+getDateString(contract.beginDate) : "Sem data de início.") }}</p>
    </div>

    <div margin>
      <ion-label [color]="itemColor" no-margin>Data de Encerramento </ion-label>
      <p [class]="textClass">{{ (contract.endDate ? "Válido até "+getDateString(contract.endDate) : "Sem data de encerramento.") }}</p>
    </div>

    <div margin>
      <ion-label [color]="itemColor" no-margin>Duração</ion-label>
      <p [class]="textClass">{{ (contract.duration ? contract.duration : "Sem duração definida.") }}</p>
    </div>

    <div margin-top *ngIf="userType === 'owner'">
      <ion-row [hidden]="!isContractTerminated()">
        <button class="main-button btn-secondary" ion-button large round color="secondary" strong (click)="renewContract()"
          icon-start>
          <ion-icon name="custom-done"></ion-icon>Renovar
        </button>
      </ion-row>
      <ion-row [hidden]="isContractActive()">
        <button class="main-button btn-light" ion-button large round color="light" strong (click)="onEditContract()"
          icon-start>
          <ion-icon name="custom-edit"></ion-icon>Editar
        </button>
      </ion-row>
      <ion-row [hidden]="!isContractActive()">
        <button class="main-button btn-light" ion-button large round color="light" strong (click)="deactivateContract()"
          icon-start>
          <ion-icon name="custom-remove-circle"></ion-icon>Inativar
        </button>
      </ion-row>
      <ion-row [hidden]="isContractActive()">
        <button class="main-button btn-danger" ion-button large round color="danger" strong (click)="removeContract()"
          icon-start>
          <ion-icon name="custom-delete"></ion-icon>Remover
        </button>
      </ion-row>
      <ion-row [hidden]="!isContractActive()">
        <button class="main-button btn-danger" ion-button large round color="danger" strong (click)="revokeContract()"
          icon-start>
          <ion-icon name="custom-cancel-circle"></ion-icon>Rescindir
        </button>
      </ion-row>
    </div>
  </ion-list>
</ion-content>