page-profile-form {

	.light-text {
		color: color($colors, light) !important;
	}

	.primary-text {
		color: color($colors, primary) !important;
	}

	.genre-owner {
		cursor: pointer;
		border: 1px solid color($colors, secondary);
		color: color($colors, light);
	}	
	
	.genre-tenant { 
		cursor: pointer;
		border: 1px solid color($colors, primary);
		color: color($colors, primary);
	}

	.genre-selected {
		background: color($colors, secondary);
    box-shadow: inset 0 0 10px #000000;
    color: color($colors, dark);
    font-weight: bold;
	}

	.left-border {
		border-radius: 1rem 0 0 1rem;
	}

	.right-border {			
		border-radius: 0 1rem 1rem 0;
	}

	ion-row {
    font-size: 1.5rem;
		margin: auto;
		max-width: 50rem;
		padding: 0 1rem 0 1rem;
	}

	p {
    font-size: 1.3rem;
	}

}
