// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/icons";

// Classes, attributes and pseudo-classes
.alert-radio-label {
  // Quebra a linha de uma opção dentro de um alert para exibir todo o seu conteúdo
  white-space: pre-line !important;
}

.alert-title,
.alert-sub-title {
  color: color($colors, primary) !important;
}

.alert-wrapper {
  border-radius: 1rem !important;
}

.back-button,
.toolbar-title {
  color: color($colors, light);
}

.bg-owner-page {
  background: color($colors, primary400);
  height: 100%;
}

.bg-tenant-page {
  background: color($colors, primary50);
  height: 100%;
}

.btn-danger {
  color: color($colors, light);
  background-image: linear-gradient(
    to right,
    color($colors, dangerAlt) 0%,
    color($colors, danger) 100%
  );
}

.btn-light {
  color: color($colors, dark);
  background-image: linear-gradient(
    to right,
    color($colors, primary50) 0%,
    color($colors, light) 100%
  );
}

.btn-secondary {
  color: color($colors, dark);
  background-image: linear-gradient(
    to right,
    color($colors, secondaryAlt) 0%,
    color($colors, secondary) 100%
  );
}

.custom-form {
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md,
  .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
    color: color($colors, light);
  }

  .item-input-has-focus .label-md[stacked], .item-input-has-focus .label-ios[stacked],
  .input-has-focus .label-md[stacked], .input-has-focus .label-ios[stacked],
  .item-input-has-focus .label-md[floating], .item-input-has-focus .label-ios[floating],
  .input-has-focus .label-md[floating], .input-has-focus .label-ios[floating] {
    color: color($colors, secondary);
  }

  .item-md, .item-ios {
    background: none;
    color: color($colors, light);
    padding: 0 1rem 0 1rem;
    max-width: 50rem;
    margin: auto;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner {
    border-bottom-color: color($colors, secondary);
    -webkit-box-shadow: inset 0 0px 0 0 color($colors, secondary);
    box-shadow: inset 0 0px 0 0 color($colors, secondary);
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    padding: 0;
  }

  .validator-error {
    color: color($colors, danger);
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: color($colors, granted);
  -webkit-box-shadow: inset 0 0px 0 0 color($colors, granted);
  box-shadow: inset 0 0px 0 0 color($colors, granted);
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: color($colors, danger);
  -webkit-box-shadow: inset 0 0px 0 0 color($colors, danger);
  box-shadow: inset 0 0px 0 0 color($colors, danger);
}

.custom-form-tenant {
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md,
  .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
    color: color($colors, dark);
  }

  .item-input-has-focus .label-md[stacked], .item-input-has-focus .label-ios[stacked],
  .input-has-focus .label-md[stacked], .input-has-focus .label-ios[stacked],
  .item-input-has-focus .label-md[floating], .item-input-has-focus .label-ios[floating],
  .input-has-focus .label-md[floating], .input-has-focus .label-ios[floating] {
    color: color($colors, primary);
  }

  .item-md, .item-ios {
    background: none;
    color: color($colors, primary);
    padding: 0 1rem 0 1rem;
    max-width: 50rem;
    margin: auto;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner {
    border-bottom-color: color($colors, primary);
    -webkit-box-shadow: inset 0 0px 0 0 color($colors, primary);
    box-shadow: inset 0 0px 0 0 color($colors, primary);
  }


  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    padding: 0;
    border-bottom: 1px solid color($colors, primary);
  }

  .validator-error {
    color: color($colors, danger);
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.empty-state-active {
  margin-top: 25vh;
}

.empty-state-icon {
  font-size: 15rem;
  line-height: 0px;
}

.form-input {
  margin-top: 0.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-left: 1rem;

  ion-label {
    color: color($colors, primary200);
  }
}

ion-app.ios, ion-app.md, .modal-wrapper {
  background: color($colors, dark);
  border-radius: 1rem !important;
}

.intro-background {
  background: color($colors, primary);
  // background: radial-gradient(circle farthest-corner at center center, color($colors, primary) 0%, color($colors, primary400) 100%);
  height: 100%;

  ion-row {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

ion-loading.custom-loading {
  .loading-wrapper {
    border-radius: 1rem !important;
  }
}

.keyboard-is-open .tabbar {
  display: none;
}

.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

.logo {
  border: 1px;
  border-radius: 50%;
  height: auto;
  max-width: 12rem;
}

.main-button {
  width: 30rem;
}

.main-input {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  height: 8vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 1.2rem;
  ion-label {
    color: color($colors, primary200);
  }
}

.my-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.popover-content {
  border-radius: 0.5rem !important;
}

.signup-form {
  height: 75%;
}

.swiper-pagination {
  padding: 0%;
  .swiper-pagination-bullet {
    background: color($colors, light);
    margin: 0 5px;
    top: 20px;
    bottom: inherit;
  }
}

.swiper-pagination-bullet-active,
.swiper-pagination-progressbar {
  background: color($colors, secondary) !important;
}

.tabs-md[tabsLayout="icon-top"] .has-icon .tab-button-text,
.tabs-ios[tabsLayout="icon-top"] .has-icon .tab-button-text {
  margin-top: 0px !important;
}

.tabs-md .tab-button[aria-selected="true"],
.tabs-md-primary .tab-button[aria-selected="true"],
.tabs-md-primary .tab-button[aria-selected="true"] .tab-button-icon,
.tabs-ios .tab-button[aria-selected="true"],
.tabs-ios-primary .tab-button[aria-selected="true"],
.tabs-ios-primary .tab-button[aria-selected="true"] .tab-button-icon  {
  color: color($colors, secondary) !important;
}

// Elements and pseudo-elements
body {
  background: color($colors, dark);
}

h2,
h3,
h4,
h5,
h6,
p {
  color: color($colors, light) !important;
}

hr {
  border-bottom: 0.1rem solid color($colors, secondary);
  margin-top: 2rem;
  width: 100%;
}

ion-card {
  border-radius: 1rem !important;
}

// Timeline icons
div {
  &[class*="custom-border"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.6em;
    height: 1.6em;
    margin: 0.9rem;
  }

  // User icon
  &[class*="custom-border-account-circle"] {
    mask-image: url(../assets/icons/account-circle.svg);
  }

  // Contract icon
  &[class*="custom-border-contract"] {
    mask-image: url(../assets/icons/contract.svg);
  }

  // Real Estate icon
  &[class*="custom-border-home"] {
    mask-image: url(../assets/icons/home.svg);
  }

  // Owner icon
  &[class*="custom-border-owner"] {
    mask-image: url(../assets/icons/owner.svg);
  }

  // Evaluation pending icon
  &[class*="custom-border-star-border"] {
    mask-image: url(../assets/icons/star-border.svg);
  }

  // Evaluation done icon
  &[class*="custom-border-user-ok"] {
    mask-image: url(../assets/icons/user-ok.svg);
  }

  // Tenant icon
  &[class*="custom-border-users"] {
    mask-image: url(../assets/icons/users.svg);
  }

  // Default timeline icon
  &[class*="custom-border-timeline"] {
    mask-image: url(../assets/icons/timeline.svg);
  }
}

// Custom Material rounded icons
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-account-circle"] {
    mask-image: url(../assets/icons/account-circle.svg);
  }

  &[class*="custom-add"] {
    mask-image: url(../assets/icons/add.svg);
  }

  &[class*="custom-arrow-left"] {
    mask-image: url(../assets/icons/arrow-left.svg);
  }

  &[class*="custom-arrow-right"] {
    mask-image: url(../assets/icons/arrow-right.svg);
  }

  &[class*="custom-cancel-circle"] {
    mask-image: url(../assets/icons/cancel-circle-full.svg);
  }

  &[class*="custom-contract"] {
    mask-image: url(../assets/icons/contract.svg);
  }

  &[class*="custom-contract-add"] {
    mask-image: url(../assets/icons/contract-add.svg);
  }

  &[class*="custom-delete"] {
    mask-image: url(../assets/icons/delete.svg);
  }

  &[class*="custom-done"] {
    mask-image: url(../assets/icons/done.svg);
  }

  &[class*="custom-edit"] {
    mask-image: url(../assets/icons/edit.svg);
  }

  &[class*="custom-exit"] {
    mask-image: url(../assets/icons/exit.svg);
  }

  &[class*="custom-filter-list"] {
    mask-image: url(../assets/icons/filter-list.svg);
  }

  &[class*="custom-group-add"] {
    mask-image: url(../assets/icons/group-add.svg);
  }

  &[class*="custom-history"] {
    mask-image: url(../assets/icons/history.svg);
  }

  &[class*="custom-home"] {
    mask-image: url(../assets/icons/home.svg);
  }

  &[class*="custom-more-android"] {
    mask-image: url(../assets/icons/more-android.svg);
  }

  &[class*="custom-more-ios"] {
    mask-image: url(../assets/icons/more-ios.svg);
  }

  &[class*="custom-remove-circle"] {
    mask-image: url(../assets/icons/remove-circle.svg);
  }

  &[class*="custom-save"] {
    mask-image: url(../assets/icons/save.svg);
  }

  &[class*="custom-settings"] {
    mask-image: url(../assets/icons/settings.svg);
  }

  &[class*="custom-star-full"] {
    mask-image: url(../assets/icons/star-full.svg);
  }

  &[class*="custom-star-half"] {
    mask-image: url(../assets/icons/star-half.svg);
  }

  &[class*="custom-star-border"] {
    mask-image: url(../assets/icons/star-border.svg);
  }

  &[class*="custom-timeline"] {
    mask-image: url(../assets/icons/timeline.svg);
  }

  &[class*="custom-user-ok"] {
    mask-image: url(../assets/icons/user-ok.svg);
  }

  &[class*="custom-users"] {
    mask-image: url(../assets/icons/users.svg);
  }

  &[class*="custom-users-circle"] {
    mask-image: url(../assets/icons/users-circle.svg);
  }

  &[class*="custom-visibility"] {
    mask-image: url(../assets/icons/visibility.svg);
  }

  &[class*="custom-visibility-off"] {
    mask-image: url(../assets/icons/visibility-off.svg);
  }

  &[class*="google-icon"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.7em;
    height: 1.7em;
    mask-image: url(../assets/imgs/google-icon.svg);
  }
}
