page-welcome {
	.description-slides {
		height: 0vh;
	}

  .toolbar-title {
    font-weight: bold;
  }  

	.scroll-content {
		overflow-y: hidden !important;
	}
	 
	ion-row {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	@media screen and (min-height: '490px'){
		.description-slides {
			height: 26vh;
		}
	}

	@media screen and (min-height: '576px'){
		.description-slides {
			height: 30vh;
		}
	}

	@media screen and (min-height: '667px'){
		.description-slides {
			height: 35vh;
		}
	}

	@media screen and (min-height: '768px'){
		.description-slides {
			height: 45vh;
		}
	}

	@media screen and (min-height: '992px'){
		.description-slides {
			height: 55vh;
		}
	}

	@media screen and (min-height: '1200px'){
		.description-slides {
			height: 60vh;
		}
	}
}
