page-tenant {
  .keyboard-open {
		bottom: 0 !important;
  }

	.footer-searchbar {
		background: none;
		bottom: 5.5rem;
		left: 0;
		position: absolute;
	  width: 100%;
		z-index: 999;
	}

	.search-list {
		background: transparent;
	}

	.scroll-content {
		margin-bottom: 12rem !important;
	}

	.searchbar-ios, .searchbar-md {
		.searchbar-input {		
			border-radius: 2rem;
		}
	}

  ion-card {
    border-radius: 1rem !important;
	}

	h2 {
		font-size: 1.8rem !important;
	}
}
