<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inquilinos</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content class="bg-owner-page">

  <div *ngIf="searchingTenants">
    <ion-card *ngFor="let tenant of search | async" color="primary700">
      <ion-card-content>
        <h2>{{ tenant.name }}</h2>
        <div padding-bottom>
          <h3 *ngIf="!tenant.overallScore">Inquilino sem avaliação.</h3>
          <div *ngIf="tenant.overallScore">
            <!-- <p>
                <ion-icon *ngFor="let item of scores" [name]="item.starName" color="secondary"></ion-icon>
                {{ tenant.overallScore }} ({{ tenant.scoresTotal }} avaliações)
              </p> -->
          </div>
        </div>
        <p>{{ (tenant.phone ? tenant.phone : "Nenhum telefone encontrado.") }}</p>
        <p>{{ (tenant.email ? tenant.email : "Nenhum email encontrado.") }}</p>
        <!-- <div *ngIf="realEstate">
            <ion-label color="secondary" no-margin padding-top>Imóvel</ion-label>
            <p>{{ realEstate }}</p>
          </div> -->
        <!-- <div *ngIf="!realEstate">
            <p>Sem imóvel vinculado.</p>
          </div> -->
      </ion-card-content>
      <button ion-button clear color="secondary" (click)="viewDetails(tenant)">
        VER DETALHES
      </button>
    </ion-card>
  </div>

  <div *ngIf="!searchingTenants">
    <div class="empty-state-active" [hidden]="tenantsExists" padding text-center>
      <ion-icon class="empty-state-icon" color="light" name="custom-users"></ion-icon>
      <h5 no-margin>Você ainda não adicionou um inquilino.</h5>
      <p no-margin>Assim que vincular um inquilino a um contrato seu, ele
        aparecerá aqui.</p>
    </div>

    <div [hidden]="!tenantsExists" col-md-6 offset-md-3>
      <ion-card *ngFor="let tenant of tenants | async" color="primary700">
        <ion-card-content>
          <h2>{{ tenant.name }}</h2>
          <div padding-bottom>
            <h3 *ngIf="!tenant.overallScore">Inquilino sem avaliação.</h3>
            <div *ngIf="tenant.overallScore">
              <!-- <p>
              <ion-icon *ngFor="let item of scores" [name]="item.starName" color="secondary"></ion-icon>
              {{ tenant.overallScore }} ({{ tenant.scoresTotal }} avaliações)
            </p> -->
            </div>
          </div>
          <p>{{ (tenant.phone ? tenant.phone : "Nenhum telefone encontrado.") }}</p>
          <p>{{ (tenant.email ? tenant.email : "Nenhum email encontrado.") }}</p>
          <!-- <div *ngIf="realEstate">
          <ion-label color="secondary" no-margin padding-top>Imóvel</ion-label>
          <p>{{ realEstate }}</p>
        </div> -->
          <!-- <div *ngIf="!realEstate">
          <p>Sem imóvel vinculado.</p>
        </div> -->
        </ion-card-content>
        <button ion-button clear color="secondary" (click)="viewDetails(tenant)">
          VER DETALHES
        </button>
      </ion-card>
    </div>

    <!-- <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="newTenant()">
        <ion-icon name="custom-add"></ion-icon>
      </button>
    </ion-fab> -->
  </div>
  
  <ion-searchbar animated="true" class="my-footer" [(ngModel)]="searchString" 
    placeholder="Buscar inquilino pelo CPF..." showCancelButton="True" name="document" [brmasker]="{mask:'000.000.000-00', len:14}"
                 (ionInput)="search()">
  </ion-searchbar>
</ion-content>