<ion-header>
  <nav-options-component></nav-options-component>
</ion-header>


<ion-content class="bg-owner-page">

  <div [hidden]="!searchingTenants">
    <ion-list>
      <ion-item class="search-list" *ngFor="let tenant of tenants | async" (click)="tenantOptions(tenant)">
        <ion-avatar item-start>
          <img [src]="tenant.photoURL ? tenant.photoURL : '../../assets/imgs/user-y500.png'">
        </ion-avatar>
        <h2>{{tenant.name}}</h2>
        <ion-row justify-content-start>
          <ion-icon class="evaluation-star" color="secondary" name="custom-star-full"></ion-icon>
          <p>{{( evaluationNumber > 1 ? overallScore+" ("+evaluationNumber+" avaliações)" : " Sem avaliações
            suficientes" )}}</p>
        </ion-row>
        <button ion-button clear color="secondary" item-end>OPÇÕES</button>
      </ion-item>
    </ion-list>
  </div>

  <div [hidden]="searchingTenants">
    <div class="empty-state-active" [hidden]="tenantsExists" padding text-center>
      <ion-icon class="empty-state-icon" color="light" name="custom-users"></ion-icon>
      <h5 no-margin>Você ainda não adicionou um inquilino.</h5>
      <p no-margin>Assim que vincular um inquilino a um contrato seu, ele
        aparecerá aqui.</p>
    </div>

    <ion-row [hidden]="!tenantsExists" justify-content-center>
      <ion-col *ngFor="let tenant of tenants | async" col-12 col-sm-6 col-md-4 col-lg-3 no-padding>
        <ion-card color="primary700" (click)="viewDetails(tenant)">
          <ion-card-content>
            <h2>{{ tenant.name }}</h2>
            <ion-row justify-content-start padding-bottom>
              <ion-icon class="evaluation-star" color="secondary" name="custom-star-full"></ion-icon>
              <p>{{( evaluationNumber > 1 ? overallScore+" ("+evaluationNumber+" avaliações)" : " Sem avaliações
                suficientes" )}}</p>
            </ion-row>
            <p>{{ (tenant.phone ? tenant.phone : "Nenhum telefone encontrado") }}</p>
            <p>{{ (tenant.email ? tenant.email : "Nenhum email encontrado") }}</p>            
          </ion-card-content>
          <button ion-button clear color="secondary">
            VER DETALHES
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-searchbar animated="true" cancelButtonText="Cancelar" class="footer-searchbar" id="searchbar" [(ngModel)]="searchString" placeholder="Buscar inquilino pelo CPF..."
  name="document" [brmasker]="{person: true}" showCancelButton (ionCancel)="cancelSearch()" (ionClear)="cancelSearch()"
  (ionInput)="search()">
</ion-searchbar>