<ion-header>
  <ion-navbar transparent>
    <ion-title>Cadastrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="intro-background" text-center>
  <form [formGroup]="signupForm">
    <div class="custom-form">
      <ion-slides #slides pager paginationType="progress">
        <ion-slide>
          <!-- Page 1 -->
          <ion-list>
            <p>Antes de continuar, escolha seu perfil.</p>
            <!-- <div [class]="ownerButtonClass" name="owner" margin-bottom>Don@ de imóvel</div> -->
            <div [class]="ownerButtonClass" name="owner" (click)="profileSelected('owner')">Don@ de
              imóvel</div>
            <!-- <div [class]="tenantButtonClass" name="tenant" style="opacity: .4;" margin-top>Inquilin@</div> -->
            <div [class]="tenantButtonClass" name="tenant" (click)="profileSelected('tenant')">Inquilin@</div>
          </ion-list>
        </ion-slide>

        <ion-slide>
          <!-- Page 2 -->
          <ion-list>
            <p>Agora vamos precisar de algumas informações básicas.</p>

            <ion-item>
              <ion-label floating>Informe seu documento (CPF ou CNPJ)</ion-label>
              <ion-input type="text" [formControl]="signupForm.controls['document']" name="document" [brmasker]="{person: true}"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls.document.valid && signupForm.controls.document.dirty" class="validator-error">
              Por favor, informe um documento válido.
            </div>

            <ion-item>
              <ion-label floating>Informe seu nome completo</ion-label>
              <ion-input type="text" [formControl]="signupForm.controls['name']" name="name"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.dirty" class="validator-error">
              Por favor, informe um nome.
            </div>

            <ion-item>
              <ion-label floating>Selecione sua data de nascimento</ion-label>
              <ion-datetime cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MMM/YYYY" [max]="setMaxDate()"
                [monthShortNames]="monthShortNames" [formControl]="signupForm.controls['birthdate']" name="birthdate"></ion-datetime>
            </ion-item>
            <ion-note [hidden]="signupForm.value.birthdate">
              Deslize para selecionar uma data.
            </ion-note>
            <div *ngIf="!signupForm.controls.birthdate.valid && signupForm.controls.birthdate.dirty" class="validator-error">
              Por favor, selecione uma data de nascimento.
            </div>

            <!-- <ion-item>
              <ion-label floating>Selecione seu gênero</ion-label>
              <ion-select name="genre" interface="popover" [formControl]="signupForm.controls['genre']">
                <ion-option value="f">Feminino</ion-option>
                <ion-option value="m">Masculino</ion-option>
                <ion-option value="o">Prefiro não informar</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="!signupForm.controls.genre.valid && signupForm.controls.genre.dirty" class="validator-error">
              Por favor, selecione seu gênero.
            </div> -->
            <ion-row class="genre-row" text-left>
              <p>Selecione seu gênero</p>
            </ion-row>
            <ion-row class="genre-row">
              <div class="col genre left-border" id="genre-f" name="genre" (click)="setGenreSelected('f')">Feminino</div>
              <div class="col genre" id="genre-m" name="genre" (click)="setGenreSelected('m')">Masculino</div>
              <div class="col genre right-border" id="genre-o" name="genre" (click)="setGenreSelected('o')">Outro</div>
            </ion-row>

            <ion-item hidden="true">
            </ion-item>
          </ion-list>
        </ion-slide>

        <ion-slide>
          <!-- Page 3 -->
          <ion-list>
            <p>Por último, só precisamos de mais alguns detalhes.</p>
            <ion-item>
              <ion-label floating>Informe seu número de celular</ion-label>
              <ion-input type="text" [formControl]="signupForm.controls['phone']" name="phone" [brmasker]="{phone: true}"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls.phone.valid && signupForm.controls.phone.dirty" class="validator-error">
              Por favor, informe um número válido.
            </div>

            <ion-item>
              <ion-label floating>Informe seu email</ion-label>
              <ion-input type="email" [formControl]="signupForm.controls['email']" name="email"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty" class="validator-error">
              Por favor, informe um email válido.
            </div>

            <ion-item>
              <ion-label floating>Informe uma senha</ion-label>
              <ion-input [type]="isTextFieldType ? 'text' : 'password'" [formControl]="signupForm.controls['password']"
                name="password"></ion-input>
              <button class="visibility-icon" clear (click)="togglePasswordFieldType()" icon-only ion-button item-right
                type="button">
                <ion-icon color="light" [name]="isTextFieldType ? 'custom-visibility-off' : 'custom-visibility'"></ion-icon>
              </button>
            </ion-item>
            <div *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty" class="validator-error">
              Por favor, informe uma senha.
            </div>

            <ion-item hidden="true">
            </ion-item>
          </ion-list>
        </ion-slide>
      </ion-slides>

      <div id="footer">
        <ion-row id="previous-next">
          <ion-col>
            <button class="btn-slides-pagination" type="button" ion-button outline round color="secondary" (click)="slidePrev()"
              [disabled]="isFirstSlide()">Anterior</button>
          </ion-col>
          <ion-col>
            <button class="btn-slides-pagination" type="button" ion-button outline round color="secondary" (click)="slideNext()"
              [disabled]="isLastSlide()">Próximo</button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <button class="main-button btn-secondary" ion-button large round color="secondary" type="submit" strong
            [disabled]="!signupForm.valid" (click)="doSignup()">Confirmar</button>
        </ion-row>
        <ion-row justify-content-center>
          <button ion-button clear color="light" small>Ao confirmar aceito os Termos e Condições de Uso.</button>
        </ion-row>
      </div>
    </div>
  </form>
</ion-content>