<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Cadastrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="intro-background" text-center padding>
  <ion-slides class="signup-form" #slides pager paginationType="progress">
    <ion-slide>
      <!-- Page 1 -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Antes de continuar, escolha seu perfil.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div [class]="ownerButtonClass" name="owner" (click)="profileSelected('owner')">Don@ de imóvel</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div [class]="tenantButtonClass" name="tenant" (click)="profileSelected('tenant')">Inquilin@</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Esta opção <b>pode</b> ser alterada depois.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <!-- Page 2 -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Agora vamos precisar de algumas informações básicas.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input" text-center>
              <ion-input type="text" name="name" [(ngModel)]="account.name" round placeholder="Nome completo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input" text-center>
              <ion-input type="text" name="document" [(ngModel)]="account.document" round placeholder="CPF"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input" text-center>
              <ion-input type="email" name="email" [(ngModel)]="account.email" round placeholder="E-mail"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input" text-center>
              <ion-input type="password" name="password" [(ngModel)]="account.password" round placeholder="Senha"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <!-- Page 3 -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Por último, só precisamos de mais alguns detalhes.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input">
              <ion-input type="text" name="phone" [(ngModel)]="account.phone" placeholder="Celular"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input">
              <ion-label>Data de nascimento</ion-label>
              <ion-datetime cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MMM/YYYY" [max]="setMaxDate()"
                            monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" name="birthdate"
                            [(ngModel)]="account.birthdate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="main-input">
              <ion-label>Sexo</ion-label>
              <ion-select name="genre" interface="popover" [(ngModel)]="account.genre">
                <ion-option value="f">Feminino</ion-option>
                <ion-option value="m">Masculino</ion-option>
                <ion-option value="o">Outro</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-toolbar transparent>
    <ion-row justify-content-center>
      <button class="main-button" ion-button large round color="secondary" *ngIf="!isLastSlide()" (click)="slideNext()"
              strong>Continuar</button>
    </ion-row>
    <ion-row justify-content-center>
      <button class="main-button" ion-button large round color="secondary" *ngIf="isLastSlide()" (click)="doSignup()"
              strong>Confirmar</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button clear color="light" small>Ao confirmar aceito os Termos e Condições de Uso.</button>
    </ion-row>
  </ion-toolbar>
  
</ion-content>