<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button navPop ion-button icon-only style="margin: 0 6px; min-width: 36px;">
        <ion-icon color="light" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{(editing ? "Editar" : "Adicionar")}} Inquilino</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-owner-page" padding>
  <form [formGroup]="tenantForm">
    <ion-list text-center>
      <ion-label color="light" text-left>Dados Pessoais do seu Inquilino</ion-label>

      <ion-item no-margin>
        <ion-label floating>Informe o CPF</ion-label>
        <ion-input type="text" [formControl]="tenantForm.controls['document']" name="document"></ion-input>
      </ion-item>
      <div *ngIf="!tenantForm.controls.document.valid && tenantForm.controls.document.dirty" class="validator-error">
        Por favor, informe um CPF válido.
      </div>

      <ion-item>
        <ion-label floating>Informe o Nome e Sobrenome</ion-label>
        <ion-input type="text" [formControl]="tenantForm.controls['name']" name="name"></ion-input>
      </ion-item>
      <div *ngIf="!tenantForm.controls.name.valid && tenantForm.controls.name.dirty" class="validator-error">
        Por favor, informe um nome.
      </div>

      <ion-item>
        <ion-label floating>Informe o Telefone</ion-label>
        <ion-input type="number" [formControl]="tenantForm.controls['phone']" name="phone"></ion-input>
      </ion-item>
      <div *ngIf="!tenantForm.controls.phone.valid && tenantForm.controls.phone.dirty" class="validator-error">
        Por favor, informe um telefone válido.
      </div>

      <ion-item>
        <ion-label floating>Informe o Email</ion-label>
        <ion-input type="email" [formControl]="tenantForm.controls['email']" name="email"></ion-input>
      </ion-item>
      <div *ngIf="!tenantForm.controls.email.valid && tenantForm.controls.email.dirty" class="validator-error">
        Por favor, informe um email válido.
      </div>

      <!-- Descomentar ao implementar captura ou importação de imagens
      <hr>

      <ion-label color="light" text-left>Imagens</ion-label>

      <ion-toolbar transparent>
        <ion-buttons>
          <button ion-button icon-start clear color="secondary">
            <ion-icon name="camera"></ion-icon>Selecionar Imagem
          </button>
          <button ion-button icon-start clear color="secondary">
            <ion-icon name="cloud-upload"></ion-icon>Fazer Upload
          </button>
        </ion-buttons>
      </ion-toolbar> -->

      <button class="main-button btn-secondary" ion-button large round color="secondary" strong margin-top [disabled]="!tenantForm.valid"
        (click)="addTenant()" icon-start><ion-icon name="custom-save"></ion-icon>Salvar</button>
    </ion-list>
  </form>

</ion-content>